/* App.css */

body {
  padding: 0px;
  min-height: 90vh;
  background-color:white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
    
}

.room label {
  margin-bottom: 10px;
}

.room input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 200px;
}

.room button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.room button:hover {
  background-color: #0056b3;
}

.sign-out {
  position: absolute;
  top: 20px;
  right: 20px;
}

.sign-out button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.sign-out button:hover {
  background-color: #c82333;
}
